// $primary: #CCF381;
// $secondary: #4831D4;
// $terciary: #0D1B2A;

// $primary: #4A4E69;
// $secondary: #1B1F3B;
// $terciary: #F2E9E4;  

// $primary: #121212;
// $secondary: #1E1E1E;
// $terciary: #FFD700;  

$primary: #120136;
$secondary: #2C003E;
$terciary: #EDEDED;  