// $green: #CCF381;
// $blue: #4831D4;
// $terciary: #0D1B2A;

// $green: #4A4E69;
// $blue: #1B1F3B;
// $terciary: #F2E9E4;  

// $green: #121212;
// $blue: #1E1E1E;
// $terciary: #FFD700;  

$green: #120136;
$blue: #2C003E;
$terciary: #EDEDED;  