@use "../styles/colors.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
    background: rgba(0, 0, 0, 0.514);
    border-radius: 0%;
    padding: 30px 20px;
    transition: all .3s;

    &:hover{
        background: rgba(0, 0, 0, 0.733);
    }
}

.swiper-pagination-bullet{
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}