@use "../../../styles/colors.scss";

.footer{
    background-color: colors.$secondary;
    color: colors.$terciary;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a{
        color: colors.$terciary;
    }
}

.copyright{
    margin: auto 0;
    text-align: center;
}

.socialLinks{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 7px;
}

.emailIcon {
    transition: all 1s;

    &:hover {
        transform: rotate(15deg);
    }
}

.githubIcon {
    transition: all 1s;

    &:hover {
        transform: scale(1.15);
    }
}

.linkedinIcon {
    transition: all 1s;

    &:hover {
        transform: rotate(-15deg);
    }
}

@media screen and (min-width: 2560px) {
    .socialLinks{
        font-size: 36px
    }
    .copyright{
        font-size: 22px;
    }
}

@media screen and (max-width: 435px) {
    .footer{
        flex-direction: column;
        gap: 10px;
        padding: 35px;
    }

    .socialLinks{
        font-size: 30px
    }
}