@use "../../../styles/colors.scss";

.background{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 80vh;
    max-height: 1200px;

    .blueDiv{
        background-color: colors.$blue;
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        justify-content: center;

        h1{
            color: colors.$green;
            font-size: 4vw;
            font-weight: bold;
            line-height: 4vw;

            .titleSpan{
                color: white;
            }
        }

        p{
            color: white;
            font-size: 1.2vw;
            margin: 35px 20vw 50px 0;
        }

        button{
            background-color: transparent;
            color: colors.$green;
            border: 2px solid colors.$green;
            width: fit-content;
            padding: 2% 3%;
            font-size: 1.2vw;
            cursor: pointer;
            transition: all .5s;

            &:hover{
                background-color: colors.$green;
                color: colors.$blue;
            }
        }
    }
    
    .greenDiv{
        background-color: colors.$green;
    }

    .heroImg{
        width: 420px;
        display: block;
        position: absolute;
        top: 17%;
        left: 56vw;
        border: 4px solid colors.$green;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1670px){
    .background{
        height: 40vw;

        .heroImg{
            width: 24vw;
            top: 8vw;
        }
    }
}

@media screen and (max-width: 1170px){
    .background{
        height: 550px;

        .blueDiv{
            padding-left: 10%;
            padding-top: 50px;

            h1{
                font-size: 50px;
                line-height: 50px;
            }

            p{
                font-size: 17px;
                margin-right: 150px;
            }

            button{
                font-size: 17px;
                padding: 15px;
            }
        }

        .heroImg{
            top: 130px;
            width: 280px;
        }
    }
}

@media screen and (max-width: 700px) {
    .background{
        height: 100vh;
        grid-template-rows: 3fr 2fr;
        grid-template-columns: auto;

        .blueDiv{
            place-items: center;
            padding-left: 0;
            width: 100%;
    
            h1{
                text-align: center;
            }

            p{
                margin: 40px 50px;
                text-align: center;
            }
        }
    }

    .greenDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        
        .heroImg{
            width: 240px;
            position: relative;
            top: 0;
            left: 0;
            border: 2px solid colors.$blue;
            border-radius: 0px;
            box-shadow: 8px 8px 1px colors.$blue;
        }
    }
}

@media screen and (min-width: 2800px){
    .greenDiv{
        .heroImg{
            width: 600px;
        }
    }
}